@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ArchitectsDaughter';
	src: url('/static/ArchitectsDaughter-Regular.ttf') format('TrueType');
	font-display: swap;
}

.font-handwriting {
	font-family: 'ArchitectsDaughter', sans-serif;
}
