@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ArchitectsDaughter';
	src: url('/static/ArchitectsDaughter-Regular.woff2') format('woff2');
	font-display: fallback;
}

.font-handwriting {
	font-family: 'ArchitectsDaughter', sans-serif;
}

/* Alerts */
.alert-blue {
	@apply border-blue-500 bg-blue-100 text-blue-800;
}

.alert-yellow {
	@apply border-yellow-500 bg-yellow-100 text-yellow-800;
}

.alert-red {
	@apply bg-red-100;
	@apply border-red-500;
	@apply text-red-800;
}

/* Buttons */
.btn-blue {
	@apply bg-blue-600;
	@apply border-blue-800;
}

.btn-blue:hover,
.btn-blue:active {
	@apply bg-blue-700;
	@apply border-blue-900;
}

.btn-blue:focus {
	@apply ring-blue-300;
}

.btn-green {
	@apply bg-green-600;
	@apply border-green-800;
}

.btn-green:hover,
.btn-green:active {
	@apply bg-green-700;
	@apply border-green-900;
}

.btn-green:focus {
	@apply ring-green-300;
}

.btn-red {
	@apply bg-red-600;
	@apply border-red-800;
}

.btn-red:hover,
.btn-red:active {
	@apply bg-red-700;
	@apply border-red-900;
}

.btn-red:focus {
	@apply ring-red-300;
}

.btn-yellow {
	@apply bg-yellow-600;
	@apply border-yellow-800;
}

.btn-yellow:hover,
.btn-yellow:active {
	@apply bg-yellow-700;
	@apply border-yellow-900;
}

.btn-yellow:focus {
	@apply ring-yellow-300;
}

.btn-gray {
	@apply bg-gray-600;
	@apply border-gray-800;
}

.btn-gray:hover,
.btn-gray:active {
	@apply bg-gray-700;
	@apply border-gray-900;
}

.btn-gray:focus {
	@apply ring-gray-300;
}
