@import 'tailwindcss';
@config '../tailwind.config.cjs';

@font-face {
	font-family: 'ArchitectsDaughter';
	src: url('/ArchitectsDaughter-Regular.woff2') format('woff2');
	font-display: fallback;
}

.font-handwriting {
	font-family: 'ArchitectsDaughter', sans-serif;
}

/* Alerts */
.alert-blue {
	@apply border-blue-500 bg-blue-100 text-blue-900;
}

.alert-yellow {
	@apply border-yellow-500 bg-yellow-100 text-yellow-900;
}

.alert-red {
	@apply border-red-500 bg-red-100 text-red-900;
}

/* Buttons */
.btn-blue {
	@apply border-blue-900 bg-blue-700;
}

.btn-blue:hover,
.btn-blue:active {
	@apply border-blue-900 bg-blue-800;
}

.btn-blue:focus {
	@apply ring-blue-300;
}

.btn-green {
	@apply border-green-900 bg-green-700;
}

.btn-green:hover,
.btn-green:active {
	@apply border-green-900 bg-green-800;
}

.btn-green:focus {
	@apply ring-green-300;
}

.btn-red {
	@apply border-red-900 bg-red-700;
}

.btn-red:hover,
.btn-red:active {
	@apply border-red-900 bg-red-800;
}

.btn-red:focus {
	@apply ring-red-300;
}

.btn-yellow {
	@apply border-yellow-900 bg-yellow-700;
}

.btn-yellow:hover,
.btn-yellow:active {
	@apply border-yellow-900 bg-yellow-800;
}

.btn-yellow:focus {
	@apply ring-yellow-300;
}

.btn-gray {
	@apply border-gray-700 bg-gray-500;
}

.btn-gray:hover,
.btn-gray:active {
	@apply border-gray-700 bg-gray-600;
}

.btn-gray:focus {
	@apply ring-gray-300;
}

button {
	@apply touch-none;
}
